extends layout

block content
  br
  #lastUpdated.alert.alert-success
  #chartContainer(style='height: 300px; width: 50;')
  br
  br
  #cont.panel.panel-default
   #hdr.panel-heading Detailed Stats
   #bdy.panel-body(align='center')
    table#stats.table-bordered
        tr
          td.col-md-2 Avg. Temperature
          td.col-md-3#avgTemp
        tr
          td.col-md-2 Avg. Humidity
          td.col-md-3#avgHumid
        tr
           td.col-md-2 Delta Temperature
           td.col-md-3#deltaTemp
         tr
          td.col-md-2 Delta Humidity
          td.col-md-3#deltaHumid
        tr
          td.col-md-2 Max Temperature
          td.col-md-3#maxTemperature
        tr
          td.col-md-2 Max Humidity
          td.col-md-3#maxHumidity
        tr
          td.col-md-2 Min Temperature
          td.col-md-3#minTemp
        tr
          td.col-md-2 Min Humidity
          td.col-md-3#minHumid



